version: "3"

services:

  mongodb:
    image: mongo:latest
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=admin
    ports:
      - 27017:27017

  sso:
    image: ghcr.io/informasjonsforvaltning/auth-utils-java/auth-utils-java:latest
    ports:
      - 8084:8084