---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: terms-and-conditions
  labels:
    app: terms-and-conditions
spec:
  template:
    spec:
      containers:
        - name: terms-and-conditions
          env:
          - name: MONGODB_USER
            valueFrom:
              secretKeyRef:
                name: terms-and-conditions
                key: MONGODB_USER
          - name: MONGODB_PASSWORD
            valueFrom:
              secretKeyRef:
                name: terms-and-conditions
                key: MONGODB_PASSWORD
          - name: MONGODB_HOST
            valueFrom:
              secretKeyRef:
                name: mongodb
                key: MONGODB_HOST
          - name: MONGODB_REPLICASET
            valueFrom:
              secretKeyRef:
                name: mongodb
                key: MONGODB_REPLICASET
          - name: MONGODB_AUTH
            valueFrom:
              secretKeyRef:
                name: mongodb
                key: MONGODB_AUTH
          - name: USER_API_KEY
            valueFrom:
              secretKeyRef:
                name: common
                key: USER_API_KEY
          - name: SSO_HOST
            valueFrom:
              secretKeyRef:
                name: commonurl
                key: SSO_BASE_URI
          - name: CORS_ORIGIN_PATTERNS
            valueFrom:
              secretKeyRef:
                name: terms-and-conditions
                key: CORS_ORIGIN_PATTERNS
